body {
    background-color: #000000;
    color: #ffffff;
    font-family: Papyrus;
}
h1 {
    background-color: blue;
}

h2 {
    background-color: red;
}
p {
    background-color: purple;
}
ol {
    background-color: brown;
}
ul {
    background-color: brown;
}
a {
    background-color: green;
}